#outer
{
	height:auto;
	width:100%;
	
}
#outer img
{
	height:auto;
	width:100%;
    float:left;
}
#head
{
	height:200px;
	width:100%;
	float:left;
}
#menu
{
	height:100px;
	width:100%;
	background: rgba(0,0,0,0.3);
	float:left;
	position:fixed;
	margin-top:-1065px;

	
	
}
#menu ul 
{
list-style-type:none;
margin-left:400px;
}
#menu ul li
{
	display:inline;
    padding:15px;
	line-height:60px;
	margin-left:35px;
	
}
#menu ul li a 
{
	color:black;
   text-decoration:none;
   font-family:calibri;
   color:white;
   font-size:23px;
}
#menu ul li:hover
{
   background-color:#0080a1;
   
}
#form
{
	height:1000px;
	width:100%;
	float:left;
	margin-top:-1165px;
	border-left:500px;
	background:rgba(0,0,0,0.3);
}
#form  h1
{
	font-family:calibri;
	
	color:white;
	font-size:50px;
	margin-left:0px;
	margin-top:-15px;
}
#form  p tr td
{
	font-family:calibri;
	font-style:strong;
	color:white;
	font-size:25px;
    
}
#up
{
	height:400px;
	width:100%;
	background-color:#808080;
	float:left;
	margin-top:50px;
	
}
#fi
{
	height:250px;
	width:20%;
	background-color:#808080;
	margin-top:50px;
	margin-left:30px;
	float:left;
}
#fi a
{
	text-decoration:none;
	color:white;
	font-family:calibri;
	font-size:19px;
	margin-left:75px;
}
#fi p
{
	text-align:justify;
	color:white;
	font-family:calibri;
	font-size:19px;
}
#dn
{
	height:250px;
	width:20%;
	background-color:#808080;
	margin-top:50px;
	margin-left:110px;
	float:left;

}

#dn a
{
	text-decoration:none;
	color:white;
	font-family:calibri;
	font-size:20px;
}
#dn ul li
{
	list-style-type:none;
}
#dn ul li a 
{
	text-decoration:none;
	margin-left:-35px;
}
#hn
{
	height:250px;
	width:20%;
	background-color:#808080;
	margin-top:50px;
	margin-left:50px;
	float:left;
	

}
#hn a
{
	text-decoration:none;
	color:white;
	font-family:calibri;
	font-size:20px;
}
#hn ul li
{
	list-style-type:none;
}
#hn ul li a 
{
	text-decoration:none;
	margin-left:-35px;
}
#con
{
	height:250px;
	width:20%;
	background-color:#808080;
	margin-top:50px;
	margin-left:50px;
	float:left;

}
#con a
{
	text-decoration:none;
	color:white;
	font-family:calibri;
	font-size:20px;
}
#con ul li
{
	list-style-type:none;
}
#con ul li a 
{
	text-decoration:none;
	margin-left:-35px;
}
#footer
{
	height:50px;
	width:100%;
	background-color:#808080;
	opacity:0.9px;
	float:left;
	margin-top:-79px;
}
#left
{
	height:50px;
	width:100%;
	float:left;
	margin-left:10px;
	font-family:calibri;
	color:lightgrey;
	font-size:18px;
}
#right
{
	height:50px;
	width:200px;
	float:right;
	margin-left:50px;
	font-family:calibri;
	color:lightgrey;
	font-size:18px;
border:1px solid transparent;
}


