 #outer
{
	height:auto;
	width:100%;
	border:1px solid;
	background-image:url('../images/bg.jpg');
	background-size:cover;
	background-attachment:fixed;
	float:left;
}
#menu
{
	height:70px;
	width:100%;
	border:1px solid transparent;
	float:left;
    background-color:rgba(0,0,0,0.6);
	
	
	
	
}
#menu ul 
{
list-style-type:none;
margin-left:-50px;
}
#menu ul li
{
	display:inline;
    padding:10px;
	margin-left:50px; 
	line-height:50px;
	
}
#menu ul li a 
{
	color:white	;
   text-decoration:none;
   font-family:calibri;
  font-style:bold;
   font-size:19px;
}
#menu ul li:hover
{
   background-color:#16181c;
}
#form
{
	height:400px;
	width:500px;
	background-color:rgba(0,0,0,0.3);
	float:left;
	margin-left:450px;
	margin-top:100px;
	color:white;
	font-family:calibri;
	font-size:25px;
	border-radius:50px;
}
#kch 
{
 height:00px;
width:100%;
float:left; 
}
#footer
{
	height:50px;
	width:100%;
	background-color:rgba(0,0,0,0.8);
	opacity:0.9px;
	margin-top:100px;
	float:left;
}
#left
{
	height:50px;
	width:100%;
	float:left;
	margin-left:10px;
	font-family:calibri;
	color:lightgrey;
	font-size:18px;
}
#right
{
	height:50px;
	width:200px;
	float:right;
	margin-left:50px;
	font-family:calibri;
	color:lightgrey;
	font-size:18px;
    border:1px solid transparent;
}




	
